@CHARSET "UTF-8";

.wUI_upload_warp {
	width: 450px;
	border: solid 1px #f5f5f5;
	float: left;
	position: relative;
}

.wUI_upload_hd {
	padding: 10px;
	height: 54px;
	background-color: #f5f5f5;
}

.wUI_upload_bd {
	height: 270px;
	padding: 0 10px;
	overflow: auto;
}

.wUI_upload_bd ul li {
	margin: 0 -10px;
	padding: 10px;
	border-bottom: dashed 1px #f5f5f5;
	height: 90px;
	position: relative;
}

.wUI_upload_hd>.glyphicon {
	font-size: 21px;
	position: absolute;
	top: 17px;
	margin-left: 5px;
	cursor: help;
}

.wUI_upload_bd ul li>.glyphicon {
	position: absolute;
	right: 15px;
	top: 13px;
	font-size: 16px;
}

.wUI_upload_bd ul li>.glyphicon:hover {
	color: #d9534f;
}

.wUI_upload_bd ul li:hover {
	border-bottom-color: red;
}

.text-overflow {
	display: block;
	width: 30em;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wUI_upload_warp .progress {
	border-radius: 4px;
	margin-bottom: 5px;
}

.progress-bar {
	min-width: 20px;
}

li.danger label, #danger {
	color: #d9534f;
}

li.danger .progress-bar {
	background-color: #d9534f;
}

li.success label, #success {
	color: #51a351;
}

li.success .progress-bar {
	background-color: #51a351;
}

li.success>.glyphicon {
	display: none;
}

li.success:hover>.glyphicon {
	display: block;
}

.swfupload {
	margin-top: 6px;
}

.glyphicon-cloud-upload {
	position: absolute;
	right: 21px;
	top: 100px;
	font-size: 200px;
	color: #ddd;
	z-index: -1;
	top: 100px;
}